# Sales Data Samples

### the dataset website https://www.kaggle.com/datasets/kyanyoga/sample-sales-data

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('sales_data_sample.csv', encoding= 'unicode_escape')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [4]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [5]:
df = df.drop(columns=['STATE', 'TERRITORY', 'POSTALCODE'])

In [6]:
df["ADDRESS"] = df["ADDRESSLINE1"].fillna(' ') + "  " + df["ADDRESSLINE2"].fillna('')   
df = df.drop(['ADDRESSLINE1','ADDRESSLINE2'], axis=1)

In [7]:
df = df.drop(columns=['CONTACTFIRSTNAME', 'CONTACTLASTNAME', 'PHONE', 'CUSTOMERNAME', 'PRODUCTCODE'])

In [8]:
df.duplicated().any()

False

In [9]:
df.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MONTH_ID,YEAR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.00000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,7.092455,2003.81509,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,3.656633,0.69967,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,1.000000,2003.00000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,4.000000,2003.00000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,8.000000,2004.00000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,11.000000,2004.00000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,12.000000,2005.00000,214.000000

In [10]:
df.describe(include = 'object')

,ORDERDATE,STATUS,PRODUCTLINE,CITY,COUNTRY,DEALSIZE,ADDRESS
count,2823,2823,2823,2823,2823,2823,2823
unique,252,6,7,73,19,3,92
top,11/14/2003 0:00,Shipped,Classic Cars,Madrid,USA,Medium,"C/ Moralzarzal, 86"
freq,38,2617,967,304,1004,1384,259

In [73]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'MSRP', 'CITY',
       'COUNTRY', 'ADDRESS', 'Deal_Size_Large', 'Deal_Size_Medium',
       'Deal_Size_Small', 'Product_Line_Classic Cars',
       'Product_Line_Motorcycles', 'Product_Line_Planes', 'Product_Line_Ships',
       'Product_Line_Trains', 'Product_Line_Trucks and Buses',
       'Product_Line_Vintage Cars', 'Status_Cancelled', 'Status_Disputed',
       'Status_In Process', 'Status_On Hold', 'Status_Resolved',
       'Status_Shipped'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      2823 non-null   int64
 1   QUANTITYORDERED  2823 non-null   int64
 2   PRICEEACH        2823 non-null   float64
 3   ORDERLINENUMBER  2823 non-null   int64
 4   SALES            2823 non-null   float64
 5   ORDERDATE        2823 non-null   object
 6   STATUS           2823 non-null   object
 7   QTR_ID           2823 non-null   int64
 8   MONTH_ID         2823 non-null   int64
 9   YEAR_ID          2823 non-null   int64
 10  PRODUCTLINE      2823 non-null   object
 11  MSRP             2823 non-null   int64
 12  CITY             2823 non-null   object
 13  COUNTRY          2823 non-null   object
 14  DEALSIZE         2823 non-null   object
 15  ADDRESS          2823 non-null   object
dtypes: float64(2), int64(7), object(7)
memory usage: 353.0+ KB

### make DEALSIZE column as dummies

In [13]:
dummies = pd.get_dummies(df['DEALSIZE'], prefix='Deal_Size')
df = pd.concat([df, dummies], axis=1)
df = df.drop('DEALSIZE', axis=1)

### make PRODUCTLINE column as dummies

In [14]:
dummies = pd.get_dummies(df['PRODUCTLINE'], prefix='Product_Line')
df = pd.concat([df, dummies], axis=1)
df = df.drop('PRODUCTLINE', axis=1)

### make STATUS column as dummies

In [15]:
dummies = pd.get_dummies(df['STATUS'], prefix='Status')
df = pd.concat([df, dummies], axis=1)
df = df.drop('STATUS', axis=1)

### visualize categorical columns

In [19]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])
df['ORDERDATE'].head(5)

0   2003-02-24
1   2003-05-07
2   2003-07-01
3   2003-08-25
4   2003-10-10
Name: ORDERDATE, dtype: datetime64[ns]

### building the model

In [94]:
x = df.drop(columns=['ADDRESS', 'CITY', 'COUNTRY', 'SALES', 'ORDERDATE'])
y = df[['SALES']]

In [95]:
x.shape, y.shape

((2823, 24), (2823, 1))

In [96]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((2117, 24), (706, 24), (2117, 1), (706, 1))

In [97]:
# Create a StandardScaler object and fit it on the training data
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)

# Apply the same transformation to the test data
x_test_scaled = scaler.transform(x_test)

In [98]:
# Create a linear regression model
model = LinearRegression()

# Train the model on the training data
model.fit(x_train_scaled, y_train)

# Make predictions on the test data
y_pred = model.predict(x_test_scaled)

# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# accuracy = model.score(x_test_scaled, y_test)
# print("Accuracy :", accuracy)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 501938.702463356
R-squared: 0.8811054018017956